numpy==1.24.4
tensorflow-gpu==2.10.1
opencv-python==4.5.5.64
opencv-python-headless==4.5.5.64
protobuf==3.19.6
tqdm
kornia==0.6.12
pillow
scipy
tensorboard
scikit-image
albumentations
torchsummary
numba==0.57.1
einops
trimesh
face-alignment
ninja
imageio

